:root{
    --bg--color--header: #219ebc;
    --color--para--links: #023047;
    --color--hover--links: #ffb703;
    --bg--color--infoPersonal: #ffb703;
    --bg--color--autobiografia: #fb8500;
    --bg--color-experienciaLaboral: #219ebc;
    --bg--color-educacion: #8ecae6;
    --bg--color-idiomas: #ffb703;
}